.button {
	display: inline-flex;

	color: var(--black);
	font-size: 15px;
	line-height: 1.2;
	font-weight: 500;
	text-decoration: underline;
	cursor: pointer;
	opacity: 0.9;
	transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;

	&:hover {
		opacity: 1;
	}

	&:active {
		opacity: 1;
		transform: scale(0.95);
	}
}
