.container {
	margin-top: 8px;

	.rating__wrapper {
		display: block;
		max-width: 120px;
		max-height: 30px;

		.rating {
			width: 99%;
			height: 19px;
		}

		&.sm {
			max-width: 110px;
			max-height: 16px;

			.rating {
				height: 16px;
			}
		}

	}

	.error__wrapper {
		margin-top: 12px;
	}
}
