.container {
	color: var(--black);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.5);
	padding: 40px;
	width: 100%;
	height: 100%;
	opacity: 0;
	user-select: none;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;

	&.active {
		user-select: initial;

		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.modal {
		width: 100%;
		max-width: 780px;
		border-radius: 12px;
		background-color: #fff;

		&.description,
		&.filter {
			// default
		}

		&.share,
		&.auth,
		&.wishlist {
			max-width: 568px;
		}

		.header {
			display: flex;
			align-items: center;
			padding: 24px 24px 18px;
			position: relative;

			.button {
				position: absolute;
				cursor: pointer;
				display: inline-flex;

				.icon {
					font-size: 18px;
				}
			}

			> h2 {
				text-align: center;
				flex-grow: 1;
			}

			box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
		}

		.content {
			width: 100%;
			padding: 5% 0;
			max-height: 80vh;
			overflow-y: auto;
		}

		.footer {
			display: flex;
			border-top: 1px solid #ebebeb;
			padding: 16px 24px;
		}
	}
}
