.section {
	padding: 0 24px;

	.container {
		padding: 24px 0;

		border-top: 1px solid #ebebeb;

		.options {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-top: 20px;
		}

		> button {
			margin-top: 12px;
		}
	}
}
