.container {
	.overview {
		padding: 32px 0px;

		.list {
			margin-top: 4px;
			display: flex;
			gap: 5px;

			> li {
				display: inline-block;
				font-weight: 300;

				&::before {
					content: '\2022';
					margin-right: 5px;
				}
			}
		}
	}
}
