.list {
	padding: 0px 24px;
	display: grid;
	gap: 12px;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.footer {
	display: flex;
	border-top: 1px solid #ebebeb;
	padding: 16px 24px;

	> button {
		width: 100%;
	}
}
