* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-roboto);
}

body {
}

a {
	text-decoration: none;
	color: var(--black);
}

button,
input {
	border: none;
	outline: none;
	background: transparent;
}

ul,
ol,
li {
	list-style: none;
}

.wrapper {
	max-width: 1702px;
	padding: 0 20px;
	margin: 0 auto;

	&.medium {
		max-width: 1240px;
	}

	&.small {
		max-width: 1080px;
	}
}

:root {
	--black: #222222;
	--gray: #717171;
}
