.page {
	color: var(--black);

	.container {
		display: flex;
		justify-content: space-between;

		.sidebar {
			width: 33%;
			margin-left: 8%;
		}
	}

	> section {
		border-top: 1px solid var(--light-gray);
		padding: 32px 0;
	}

	.reviews {
		.header {
			display: flex;
			align-items: last baseline;
			gap: 8px;
			margin-bottom: 24px;

			> div {
				> p {
					font-size: 22px;
				}
			}
		}
	}
}
