.page {

    .container {
        width: 60%;
        margin-top: 24px;

        .inputs {
            display: flex;
            gap: 24px;

            >div {
                flex: 1;
            }
        }

        .form {

            >button {
                margin-top: 12px;
            }
        }

    }


}
