.error {
	border-radius: 8px;
	padding: 0.7rem 1rem;
	margin-bottom: 15px;
	background: rgba(255, 90, 95, 0.8);

	display: flex;
	justify-content: space-between;
	align-items: center;

	.icon {
		font-size: 18px;
		color: #f5f5f5;
		flex-shrink: 0;
	}

	> p {
		color: #f5f5f5;
		padding-right: 8px;
	}
}
