.container {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 12px 0;

	.checkbox {
		position: relative;
		width: 24px;
		height: 24px;
		border: 1px solid #b0b0b0;
		border-radius: 4px;
		transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);

		.input {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			opacity: 0;
			cursor: pointer;
		}

		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 17px;
			color: #fff;
			z-index: 1;
		}

		&.active {
			background-color: var(--black);
			border: 1px solid var(--black);
		}
	}

	.label {
	}
}
